Mako>=1.0.7
MarkupSafe>=1.1.0
PySocks>=1.6.8
PyYAML>=3.13
alembic>=1.0.5
banal>=0.4.0
certifi>=2018.11.29
chardet>=3.0.4
tweepy>=3.7.0
SQLAlchemy>=1.3.0b1
dataset>=1.1.0
datafreeze>=0.1.0
idna>=2.8
ntlk>=3.4
normality>=0.6.1
oauthlib>=2.1.0
python-datautil>=2.7.5
python-editor>=1.0.3
requests>=2.21.0
requests=oauthlib>=1.0.0
singledispatch>=3.4.0.3
six>=1.12.0
textblob>=0.15.2
urllib3>=1.24.1
